# Shark Tank

_Shark Tank_ is a reality TV show. Contestants present their idea for a company to a panel of investors (a.k.a. "sharks"), who then decide whether or not to invest in that company.  The investors give a certain amount of money in exchange for a percentage stake in the company ("equity"). If you are not familiar with the show, you may want to watch part of an episode [here](http://abc.go.com/shows/shark-tank) to get a sense of how it works. You can also search for a clip on YouTube. 

The data that you will examine in this lab contains data about all contestants from the first 6 seasons of the show, including:
- the name and industry of the proposed company
- whether or not it was funded (i.e., the "Deal" column)
- which sharks chose to invest in the venture (N.B. There are 7 regular sharks, not including "Guest". Each shark has a column in the data set, labeled by their last name.)
- if funded, the amount of money the sharks put in and the percentage equity they got in return

To earn full credit on this lab, you should:
- use built-in `pandas` methods (like `.sum()` and `.max()`) instead of writing a for loop over a `DataFrame` or `Series`
- use the split-apply-combine pattern wherever possible

Of course, if you can't think of a vectorized solution, a `for` loop is still better than no solution at all!

In [12]:
import pandas as pd

## Question 0. Getting and Cleaning the Data

The data is stored in the CSV file `sharktank.csv`. Read in the data into a Pandas `DataFrame`.

In [13]:
shark_file = pd.read_csv('sharktank.csv')
print shark_file

     Season  No. in series                          Company Deal  \
0       1.0            1.0                 Ava the Elephant  Yes
1       1.0            1.0            Mr. Tod's Pie Factory  Yes
2       1.0            1.0                          Wispots   No
3       1.0            1.0      College Foxes Packing Boxes   No
4       1.0            1.0                        Ionic Ear   No
5       1.0            2.0                   A Perfect Pear  Yes
6       1.0            2.0                   Classroom Jams  Yes
7       1.0            2.0                         Lifebelt   No
8       1.0            2.0                      Crooked Jaw   No
9       1.0            2.0               Sticky Note Holder   No
10      1.0            3.0                      Turbobaster  Yes
11      1.0            3.0                 Stress Free Kids  Yes
12      1.0            3.0             Kwyzta Chopstick Art   No
13      1.0            3.0  50 State Capitals in 50 Minutes   No
14      1.0            3.0                Voyage Air Guitar   No
15      1.0            4.0                 Gift Card Rescue  Yes
16      1.0            4.0                        Coverplay  Yes
17      1.0            4.0        Graffiti Removal Services   No
18      1.0            4.0              Souls Calling, Inc.   No
19      1.0            4.0               Coffee Brand Gifts   No
20      1.0            5.0               My Therapy Journal  Yes
21      1.0            5.0                         Body Jac  Yes
22      1.0            5.0          Good Grief Celebrations   No
23      1.0            5.0                  Granola Gourmet   No
24      1.0            5.0                        Face Blok   No
25      1.0            6.0            Pork Barrel BBQ Sauce  Yes
26      1.0            6.0                     Element Bars  Yes
27      1.0            6.0              Underease Underwear   No
28      1.0            6.0               Kalyx Technologies   No
29      1.0            6.0                         The Fizz   No
..      ...            ...                              ...  ...
465     6.0           22.0                      acqua vault  Yes
466     6.0           22.0                             Naja   No
467     6.0           23.0               Bee Sweet Lemonade  Yes
468     6.0           23.0                   Brand Yourself   No
469     6.0           23.0                         iC Pooch   No
470     6.0           23.0                       The Home T   No
471     6.0           24.0                          Budsies   No
472     6.0           24.0                     bee thinking   No
473     6.0           24.0                        PullyPalz  Yes
474     6.0           24.0                            Forus   No
475     6.0           25.0                       NeatCheeks  Yes
476     6.0           25.0                            Melni  Yes
477     6.0           25.0                  Beneath the Ink   No
478     6.0           25.0                         PittMoss  Yes
479     6.0           26.0                          ZinePak  Yes
480     6.0           26.0                       snagastool   No
481     6.0           26.0                       Buck Mason   No
482     6.0           26.0                            Noene  Yes
483     6.0           27.0                           AirCar  Yes
484     6.0           27.0                 Paleo Diet Foods   No
485     6.0           27.0     World Record Striper Company  Yes
486     6.0           27.0                          Frameri   No
487     6.0           28.0                             Zoom  Yes
488     6.0           28.0                   Sunscreen Mist   No
489     6.0           28.0                    SynDaver Labs  Yes
490     6.0           28.0                     You Kick Ass  Yes
491     6.0           29.0                      Shark Wheel  Yes
492     6.0           29.0                        Gato Cafe   No
493     6.0           29.0                 Sway Motorsports  Yes
494     6.0           29.0                        Spikeball  Yes

                  Industry Entrepreneur Gender      Amount Equity  Corcoran  \
0               Healthcare              Female     $50,000    55%       1.0
1        Food and Beverage                Male    $460,000    50%       1.0
2        Business Services                Male         NaN    NaN       NaN
3         Lifestyle / Home                Male         NaN    NaN       NaN
4        Uncertain / Other                Male         NaN    NaN       NaN
5        Food and Beverage              Female    $500,000    50%       NaN
6     Children / Education                Male    $250,000    10%       1.0
7        Consumer Products                Male         NaN    NaN       NaN
8         Fashion / Beauty                Male         NaN    NaN       NaN
9         Lifestyle / Home              Female         NaN    NaN       NaN
10       Food and Beverage              Female     $35,000   100%       NaN
11    Children / Education              Female    $250,000    50%       1.0
12    Children / Education                Male         NaN    NaN       NaN
13    Children / Education                Male         NaN    NaN       NaN
14   Media / Entertainment                Male         NaN    NaN       NaN
15         Software / Tech                Male    $200,000    50%       NaN
16    Children / Education              Female     $35,000    40%       1.0
17       Business Services                Male         NaN    NaN       NaN
18        Fashion / Beauty              Female         NaN    NaN       NaN
19       Food and Beverage                Male         NaN    NaN       NaN
20              Healthcare                Male     $80,000    51%       NaN
21        Fitness / Sports                Male    $180,000    50%       1.0
22       Business Services              Female         NaN    NaN       NaN
23       Food and Beverage                Male         NaN    NaN       NaN
24              Healthcare              Female         NaN    NaN       NaN
25       Food and Beverage                Male     $50,000    50%       1.0
26        Fitness / Sports                Male    $150,000    30%       NaN
27        Fashion / Beauty          Mixed Team         NaN    NaN       NaN
28        Fashion / Beauty              Female         NaN    NaN       NaN
29       Food and Beverage                Male         NaN    NaN       NaN
..                     ...                 ...         ...    ...       ...
465       Lifestyle / Home                Male     $75,000    25%       NaN
466       Fashion / Beauty              Female         NaN    NaN       NaN
467      Food and Beverage          Mixed Team     $60,000    25%       NaN
468        Software / Tech                Male         NaN    NaN       NaN
469           Pet Products          Mixed Team         NaN    NaN       NaN
470       Fashion / Beauty                Male         NaN    NaN       NaN
471   Children / Education                Male         NaN    NaN       NaN
472       Lifestyle / Home                Male         NaN    NaN       NaN
473   Children / Education              Female    $100,000    28%       NaN
474       Fitness / Sports                Male         NaN    NaN       NaN
475   Children / Education              Female    $150,000    25%       1.0
476      Uncertain / Other                Male    $500,000    12%       NaN
477        Software / Tech          Mixed Team         NaN    NaN       NaN
478        Green/CleanTech                Male    $600,000    35%       NaN
479  Media / Entertainment              Female    $725,000    18%       NaN
480        Software / Tech                Male         NaN    NaN       NaN
481       Fashion / Beauty                Male         NaN    NaN       NaN
482       Fashion / Beauty                Male    $200,000    30%       NaN
483        Green/CleanTech                Male  $5,000,000    50%       NaN
484      Food and Beverage              Female         NaN    NaN       NaN
485       Fitness / Sports                Male     $50,000    33%       NaN
486       Fashion / Beauty                Male         NaN    NaN       NaN
487       Lifestyle / Home              Female    $100,000    33%       1.0
488       Lifestyle / Home                Male         NaN    NaN       NaN
489             Healthcare                Male  $3,000,000    25%       NaN
490   Children / Education              Female    $100,000    10%       NaN
491       Fitness / Sports                Male    $225,000     8%       NaN
492      Uncertain / Other              Female         NaN    NaN       NaN
493        Green/CleanTech                Male    $300,000    20%       NaN
494       Fitness / Sports                Male    $500,000    20%       NaN

     Cuban  Greiner  Herjavec  John  O'Leary  Harrington  Guest  \
0      NaN      NaN       NaN   NaN      NaN         NaN    NaN
1      NaN      NaN       NaN   1.0      NaN         NaN    NaN
2      NaN      NaN       NaN   NaN      NaN         NaN    NaN
3      NaN      NaN       NaN   NaN      NaN         NaN    NaN
4      NaN      NaN       NaN   NaN      NaN         NaN    NaN
5      NaN      NaN       1.0   NaN      1.0         NaN    NaN
6      1.0      NaN       1.0   1.0      1.0         NaN    NaN
7      NaN      NaN       NaN   NaN      NaN         NaN    NaN
8      NaN      NaN       NaN   NaN      NaN         NaN    NaN
9      NaN      NaN       NaN   NaN      NaN         NaN    NaN
10     NaN      NaN       NaN   NaN      NaN         1.0    NaN
11     NaN      NaN       NaN   NaN      NaN         NaN    NaN
12     NaN      NaN       NaN   NaN      NaN         NaN    NaN
13     NaN      NaN       NaN   NaN      NaN         NaN    NaN
14     NaN      NaN       NaN   NaN      NaN         NaN    NaN
15     NaN      NaN       1.0   NaN      1.0         NaN    NaN
16     NaN      NaN       NaN   NaN      NaN         NaN    NaN
17     NaN      NaN       NaN   NaN      NaN         NaN    NaN
18     NaN      NaN       NaN   NaN      NaN         NaN    NaN
19     NaN      NaN       NaN   NaN      NaN         NaN    NaN
20     NaN      NaN       1.0   NaN      1.0         NaN    NaN
21     NaN      NaN       NaN   NaN      NaN         1.0    NaN
22     NaN      NaN       NaN   NaN      NaN         NaN    NaN
23     NaN      NaN       NaN   NaN      NaN         NaN    NaN
24     NaN      NaN       NaN   NaN      NaN         NaN    NaN
25     NaN      NaN       NaN   NaN      NaN         NaN    NaN
26     NaN      NaN       NaN   NaN      NaN         1.0    NaN
27     NaN      NaN       NaN   NaN      NaN         NaN    NaN
28     NaN      NaN       NaN   NaN      NaN         NaN    NaN
29     NaN      NaN       NaN   NaN      NaN         NaN    NaN
..     ...      ...       ...   ...      ...         ...    ...
465    NaN      NaN       NaN   1.0      NaN         NaN    NaN
466    NaN      NaN       NaN   NaN      NaN         NaN    NaN
467    NaN      NaN       NaN   1.0      NaN         NaN    NaN
468    NaN      NaN       NaN   NaN      NaN         NaN    NaN
469    NaN      NaN       NaN   NaN      NaN         NaN    NaN
470    NaN      NaN       NaN   NaN      NaN         NaN    NaN
471    NaN      NaN       NaN   NaN      NaN         NaN    NaN
472    NaN      NaN       NaN   NaN      NaN         NaN    NaN
473    NaN      1.0       NaN   NaN      NaN         NaN    NaN
474    NaN      NaN       NaN   NaN      NaN         NaN    NaN
475    NaN      NaN       NaN   NaN      NaN         NaN    NaN
476    1.0      NaN       NaN   NaN      NaN         NaN    NaN
477    NaN      NaN       NaN   NaN      NaN         NaN    NaN
478    1.0      NaN       1.0   NaN      1.0         NaN    NaN
479    NaN      1.0       1.0   NaN      NaN         NaN    NaN
480    NaN      NaN       NaN   NaN      NaN         NaN    NaN
481    NaN      NaN       NaN   NaN      NaN         NaN    NaN
482    1.0      NaN       NaN   1.0      NaN         NaN    NaN
483    NaN      NaN       1.0   NaN      NaN         NaN    NaN
484    NaN      NaN       NaN   NaN      NaN         NaN    NaN
485    1.0      NaN       NaN   NaN      NaN         NaN    NaN
486    NaN      NaN       NaN   NaN      NaN         NaN    NaN
487    NaN      NaN       NaN   NaN      NaN         NaN    NaN
488    NaN      NaN       NaN   NaN      NaN         NaN    NaN
489    NaN      NaN       1.0   NaN      NaN         NaN    NaN
490    1.0      NaN       NaN   NaN      NaN         NaN    NaN
491    1.0      NaN       1.0   NaN      NaN         NaN    1.0
492    NaN      NaN       NaN   NaN      NaN         NaN    NaN
493    1.0      NaN       NaN   NaN      NaN         NaN    NaN
494    NaN      NaN       NaN   1.0      NaN         NaN    NaN

                                       Details / Notes
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9                                                  NaN
10                                          2% royalty
11                                                 NaN
12                                                 NaN
13                                                 NaN
14                                                 NaN
15                                                 NaN
16                                                 NaN
17                                                 NaN
18                                                 NaN
19                                                 NaN
20                                                 NaN
21                 contingent on him losing 30 pounds!
22                                                 NaN
23                                                 NaN
24                                                 NaN
25                                                 NaN
26   license bars, entrepreneur gets 4% of sales fo...
27                                                 NaN
28                                                 NaN
29                                                 NaN
..                                                 ...
465                                                NaN
466                                                NaN
467                                                NaN
468                                                NaN
469                                                NaN
470                                                NaN
471                                                NaN
472                                                NaN
473                                                NaN
474                                                NaN
475                                                NaN
476                                                NaN
477                                                NaN
478                                                NaN
479                                                NaN
480                                                NaN
481                            Declined Robert's offer
482                                                NaN
483  Contingent on getting deal to bring to contine...
484                                                NaN
485                                                NaN
486                                                NaN
487                                                NaN
488                                                NaN
489                                                NaN
490                                                NaN
491  10% royalty until $500K; then converts to 5% e...
492                                                NaN
493                                                NaN
494                                                NaN

[495 rows x 17 columns]

There is one column for each of the sharks. A 1 indicates that they chose to invest in that company, while a missing value indicates that they did not choose to invest in that company. Notice that these missing values show up as NaNs when we read in the data. Fill in these missing values with zeros. Other columns may also contain NaNs; be careful not to fill those columns with zeros, or you may end up with strange results down the line.

In [23]:
mask = shark_file.Corcoran != 1.0
shark = 'Corcoran'
shark_file.loc[mask, shark] = 0

mask = shark_file.Cuban != 1.0
shark = 'Cuban'
shark_file.loc[mask, shark] = 0

mask = shark_file.Cuban != 1.0
shark = 'Cuban'
shark_file.loc[mask, shark] = 0
#print shark_file['Corcoran']

0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
5      0.0
6      1.0
7      0.0
8      0.0
9      0.0
10     0.0
11     1.0
12     0.0
13     0.0
14     0.0
15     0.0
16     1.0
17     0.0
18     0.0
19     0.0
20     0.0
21     1.0
22     0.0
23     0.0
24     0.0
25     1.0
26     0.0
27     0.0
28     0.0
29     0.0
      ...
465    0.0
466    0.0
467    0.0
468    0.0
469    0.0
470    0.0
471    0.0
472    0.0
473    0.0
474    0.0
475    1.0
476    0.0
477    0.0
478    0.0
479    0.0
480    0.0
481    0.0
482    0.0
483    0.0
484    0.0
485    0.0
486    0.0
487    1.0
488    0.0
489    0.0
490    0.0
491    0.0
492    0.0
493    0.0
494    0.0
Name: Corcoran, Length: 495, dtype: float64

Notice that Amount and Equity are currently being treated as categorical variables (`dtype: object`). Can you figure out why this is? Clean up these columns and cast them to numeric types (i.e., a `dtype` of `int` or `float`) because we'll need to perform mathematical operations on these columns.

In [ ]:
# YOUR CODE HERE

## Question 1. Which Company was Worth the Most?

The valuation of a company is how much it is worth. If someone invests \\$10,000 for a 40\% equity stake in the company, then this means the company must be valued at \$25,000, since 40% of \\$25,000 is \\$10,000.

Calculate the valuation of each company that was funded. Which company was most valuable? Is it the same as the company that received the largest total investment from the sharks?

In [ ]:
# YOUR CODE HERE

**YOUR EXPLANATION HERE**

## Question 2. Which Shark Invested the Most?

Calculate the total amount of money that each shark invested over the 6 seasons. Which shark invested the most total money over the 6 seasons?

_Hint:_ If $n$ sharks funded a given venture, then the amount that each shark invested is the total amount divided by $n$.

In [ ]:
# ENTER CODE HERE.

**YOUR EXPLANATION HERE**

## Question 3. Do the Sharks Prefer Certain Industries?

Calculate the funding rate (the proportion of companies that were funded) for each industry. Make a visualization showing this information.

In [ ]:
# ENTER CODE HERE.

**YOUR EXPLANATION HERE**

## Submission Instructions

Once you are finished, follow these steps:

1. Restart the kernel and re-run this notebook from beginning to end by going to `Kernel > Restart Kernel and Run All Cells`.

2. If this process stops halfway through, that means there was an error. Correct the error and repeat Step 1 until the notebook runs from beginning to end.

3. Double check that there is a number next to each code cell and that these numbers are in order.

Then, submit your lab as follows:

1. Go to `File > Export Notebook As > PDF`.

2. Double check that the entire notebook, from beginning to end, is in this PDF file. (If the notebook is cut off, try first exporting the notebook to HTML and printing to PDF.)

3. Upload the PDF and Notebook (ipynb) to iLearn